/* colors -Authored by Axarva lol */

* {
  al:      #00000000;
  bg:      #<#{BACKGROUND}#>bb;
  bg-alt:  #<#{BACKGROUND_ALT}#>bb;
  se:      #ffd5cdff;
  fg:      #<#{FOREGROUND}#>;
  fg-alt:  #<#{FOREGROUND_ALT}#>;
  ac:      #<#{PRIMARY}#>;
  red:     #<#{RED}#>;
  green:   #<#{GREEN}#>;
  yellow:  #<#{YELLOW}#>;
  blue:    #<#{BLUE}#>;
  purple:  #<#{MAGENTA}#>;
  cyan:    #<#{CYAN}#>;
}
